*,*::before,*::after{
    box-sizing: border-box;
}
html { 
    background: url('wp12696379-fantasy-tavern-wallpapers.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

@font-face {
  font-family: 'goth';
  src: url(./gothical/Medieval\ Scroll\ of\ Wisdom.ttf) format(truetype);
}

body{
    margin: 0;
    color: bisque;
    font-family: 'goth';
    font-size: 2rem;
}

h1{
  padding: .2em 0;
}

img{
    max-width: 100%;
}

.home-btn{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.nav, .container{
  width: 90%;
  margin: 0 auto;
}

.top-nav{
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-nav{
  margin-top: 1em;
  text-align: center;
}

.appear{
  display: none;
}

@media (min-width:600px){
  .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .open-btn{
    display: none;
  }
  .bottom-nav{
    display: flex;
  }
  .bottom-nav-btn{
    margin-left: 1em;
  }
  
}



.food-and-drinks-btn, .about-bards-barrel-btn, .pigeon-post-btn {
  background-color: #654321;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: bisque;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.75rem;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  margin-bottom: 1em;
  max-width: 460px;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.food-and-drinks-btn:focus, .about-bards-barrel-btn:focus, .pigeon-post-btn:focus{
  outline: 0;
}

.food-and-drinks-btn:after, .about-bards-barrel-btn:after, .pigeon-post-btn:after {
  content: '';
  position: absolute;
  border: 1px solid #FFF;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.food-and-drinks-btn:hover:after, .about-bards-barrel-btn:hover:after, .pigeon-post-btn:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {

} 